body{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100vw;
    height: 100vh;
    position:fixed;
}
#contorno{
    width: 30%;
    height: 30%;
    min-width: 500px;
    min-height: 500px;
    background-color:#26547c;
    display: flex;
    margin: 5%;
    justify-content: center;
    align-items: center;
    
}
#calculadora{
    min-width: 50px;
    min-height: 50px;
    margin: 20px 20px;
    height: 90%;
    width: 90%;
    justify-items: center;
    align-items: center;
    background-color: #ef466f;
    color: white;
    display: flex;
    flex-direction: column;
   border-radius: 15px;
}

#supCal{
display:flex;
flex-wrap: wrap;
height:20%;
width: 90%;
justify-content: space-between;
align-items: center;

}


#infCal{
    justify-content: space-between;
    height: 80%;
    width: 90%;
    display:flex;
    flex-wrap: wrap;
}
#btSup{
background-color: #26547c;
color:white;
height: 55%;
width: 22%;
display: flex;
margin: 0 auto;
text-align: center;
border-radius: 20px;
justify-content: center;
padding: 5px;
}
#btSup2{
    background-color: #26547c;
    color:white;
    line-height: 55%;
    height: 55%;
    width: 70%;
    padding: 15px;
    display: flex;
    margin: 0 auto;
    text-align: center;
    border-radius: 20px;
    justify-content: center;
    
    }
button{
background-color: #26547c;
color:white;
height: 18%;
width: 22%;
display: flex;
margin: 0 auto;
text-align: left;
padding: 5%;
border-radius: 20px;
font-size: 20pt;
float: left;
}

.operacion{
    background-color: #ffd166;
    color: #26547c;
}
#igual{
background-color:#0ad6a1;
color:white;
height: 18%;
width: 22%;
display: flex;
margin: 0 auto;
text-align: center;
padding: 6%;
border-radius: 20px;
}